.chartWrapper {
    position: relative;
    aspect-ratio: 2/1;
    margin: 1rem;
    border: 1px solid white;
    overflow: hidden;
}

.chartTitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    font-size: 24px;
    color: bisque;
}

.chartLabelX {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -20px;
    color: beige;
}

.chartLabelY {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    color: beige;
}
