@import '../../common/styles/variables.scss';

.mainWrapper {
    width: 90%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    background: darken($color: $color-secondary, $amount: 5);

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    label {
        margin-top: 1rem;
    }

    button {
        margin-top: 2rem;
    }
}

.formWrapper {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
